<html>
  <head>
    <title>IoT Control and Tracking Dashboard | Hasan Alp Zengin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/utils/jquery-3.3.1.min.js"></script>
    <script src="/js/utils/bootstrap.bundle.min.js"></script>
    <script src="/js/utils/Chart.bundle.min.js"></script>
    <script src="/js/socket.js" type="module"></script>
    <script src="/js/push.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/utils/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark color-white bg-primary">
        <a class="navbar-brand" href="/"><img src="/img/brand.png" class="w-75"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/devices">Devices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <% if(utype=="admin"){ %>
            <li class="nav-item">
              <a class="nav-link" href="/sys-control">System Control</a>
            </li>
            <% } %>
          </ul>
          <a class="btn btn-danger ml-auto" href="/logout">Logout</a>
          <a id="status" class="btn btn-warning ml-2"><i class="fas fa-signal mr-2"></i><i id="status-msg">Connecting..</i></a>
        </div>
        </div>
      </nav>
