<div th:fragment="footer">
    <div class="bg-dark">
        <div class="m-2 row">
            <div class="col-12 col-md-6">
                <ul class="list-group text-white w-50">
                    <li class="list-group-item"><a>Contact</a></li>
                    <li class="list-group-item"><a>Support</a></li>
                    <li class="list-group-item"><a>Packages</a></li>
                    <li class="list-group-item"><a>Developer</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-5 text-white text-right">
                <h5><a>CopyRight @</a></h5>
            </div>

            <style>
                .list-group-item{
                    background: transparent;
                    border-top: 1px solid #ddd;
                    border-radius: 0;
                }
            </style>
        </div>
    </div>
</div>