<% include ../../partials/header.ejs %>
    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="search" type="text" class="form-control" placeholder="Search Controller Name" aria-label="search" aria-describedby="searchIcon">
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-success my-3 w-50 mx-auto" data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add Group</i></a>
                <div class="collapse" id="collapseAdd">
                    <div class="card card-body">
                    <form id="addForm">
                        <div class="input-group">
                        <span class="input-group-text" id="controllerName"><i class="fas fa-tachometer-alt"></i></span>
                        <input id="controller-name" type="text" class="form-control" placeholder="Controller Name" aria-label="addController" aria-describedby="controllerName">
                        <button type="submit" class="btn btn-success mx-2"><i class="fas fa-plus"> </i></button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 users" style="max-height: 400px; overflow: scroll;">
                <table class="table">
                    <thead>
                        <th scope="col" class="text-center">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-center">Delete</th>
                    </thead>
                    <% results.forEach(function(result){ %>
                        <tr class="controller">
                            <td class="text-center"><%= result.id %></td>
                            <td><name><%= result.name %></name></td>
                            <td class="text-center"><button class="btn btn-danger" onclick="removeController(<%= result.id %>)"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/system-control/controllers.js"></script>
<% include ../../partials/footer.ejs %>