<% include ../../partials/header.ejs %>

<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="input-group my-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                </div>
                <input id="search" type="text" class="form-control" placeholder="Search Group Name" aria-label="search"
                    aria-describedby="searchIcon">
            </div>
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-success my-3 w-50 mx-auto" data-toggle="collapse" href="#collapseAdd" role="button"
                aria-expanded="false" aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add Group</i></a>
            <div class="collapse my-2" id="collapseAdd">
                <div class="card card-body">
                    <form id="addForm">
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="serial-number"><i class="fas fa-key"></i></span>
                            </div>
                            <b aria-label="device_serial" aria-describedby="serial-number">
                                <%= device_serial %></b>
                            <input id="serial" type="hidden" value="<%= device_serial %>" class="form-control">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="group-name"><i class="fas fa-key"></i></span>
                            </div>
                            <select id="group" class="form-control" aria-describedby="group-name">
                                <% groups.forEach(function(group){ %>
                                <option value="<%= group.id %>">
                                    <%= group.name %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success mx-2 w-100"><i class="fas fa-plus"> </i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 users" style="max-height: 400px; overflow: scroll;">
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col" class="text-center">Delete</th>
                </thead>
                <tbody>
                    <% results.forEach(function(result){ %>
                    <tr class="group">
                        <td>
                            <%= result.gid %>
                        </td>
                        <td>
                            <name>
                                <%= result.group_name %>
                            </name>
                        </td>
                        <td class="text-center"><button class="btn btn-danger" onclick="removeDeviceGroup('<%= result.gid %>', '<%= device_serial %>')"><i
                                    class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/system-control/device_groups.js"></script>
<% include ../../partials/footer.ejs %>