<% include ../../partials/header.ejs %>
    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="search" type="text" class="form-control" placeholder="Search Type Name" aria-label="search" aria-describedby="searchIcon">
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-success my-3 w-50 mx-auto" data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add Group</i></a>
                <div class="collapse" id="collapseAdd">
                    <div class="card card-body">
                    <form id="addForm" enctype="multipart/form-data" method="post" action="/sys-control/device-types">
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="device-type-name"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="name" type="text" class="form-control" placeholder="Device Type Name" aria-label="type name" aria-describedby="device-type-name">
                        </div>
                        <div class="input-group input-file my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="device-type-image">Image</span>
                            </div>
                            <input name="image" type="file" class="form-control-file" placeholder="Image Name" aria-label="image name" aria-describedby="device-type-image" accept="image/*">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="device-type-image">Controller</span>
                            </div>
                            <select name="controller">
                                <% controllers.forEach(function(controller){ %>
                                    <option value="<%= controller.id %>"><%= controller.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="device-type-min">Min Value</span>
                            </div>
                            <input name="min_value" type="number" class="form-control" placeholder="Min Value" aria-label="min value" aria-describedby="device-type-min">
                        </div>
                        <div class="input-group my-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="device-type-max">Max Value</span>
                                </div>
                                <input name="max_value" type="number" class="form-control" placeholder="Max Value" aria-label="max value" aria-describedby="device-type-max">
                            </div>
                        <button type="submit" class="btn btn-success mx-2 w-100"><i class="fas fa-plus"> </i></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 users" style="max-height: 400px; overflow: scroll;">
                <table class="table">
                    <thead>
                        <th scope="col" class="text-center">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Controller</th>
                        <th scope="col">Min Value</th>
                        <th scope="col">Max Value</th>
                        <th scope="col" class="text-center">Delete</th>
                    </thead>
                    <tbody>
                    <% results.forEach(function(result){ %>
                        <tr class="device-type">
                            <td class="text-center"><%= result.id %></td>
                            <td><name><%= result.name %></name></td>
                            <td><%= result.image %></td>
                            <td><%= result.controller_name %></td>
                            <td><%= result.min_value %></td>
                            <td><%= result.max_value %></td>
                            <td class="text-center"><button class="btn btn-danger" onclick="removeDeviceType(<%= result.id %>)"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/system-control/device_types.js"></script>
<% include ../../partials/footer.ejs %>