<% include ../../partials/header.ejs %>
    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="search" type="text" class="form-control" placeholder="Search Device Name" aria-label="search" aria-describedby="searchIcon">
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-success my-3 w-50 mx-auto" data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add Device</i></a>
                <div class="collapse mb-2" id="collapseAdd">
                    <div class="card card-body">
                    <form id="addForm">
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="d-serial"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="device-serial-number" type="text" class="form-control" placeholder="Device Serial Number" aria-label="addDevice" aria-describedby="d-serial">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="d-name">Name</span>
                            </div>
                            <input id="device-name" type="text" class="form-control" placeholder="Device Name" aria-label="addDevice" aria-describedby="d-name">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="d-name">Device Type</span>
                            </div>
                            <select id="device-type">
                                <% device_types.forEach(function(type){ %>
                                <option value="<%= type.id %>"><%= type.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <button class="btn btn-success mx-2 my-2 w-100"><i class="fas fa-plus"> </i></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 users" style="max-height: 400px; overflow: scroll;">
                <table class="table">
                    <thead>
                        <th scope="col" class="text-center">#SerialNumber</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last Connection</th>
                        <th scope="col">Type</th>
                        <th scope="col">isOnline</th>
                        <th scope="col" class="text-center">Delete</th>
                        <th scope="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Groups</th>
                    </thead>
                    <% results.forEach(function(result){ %>
                        <tr class="device">
                            <td class="text-center"><%= result.serial_number %></td>
                            <td><name><%= result.name %></name></td>
                            <td><%= result.last_connection %></td>
                            <td><%= result.type_name %></td>
                            <td><%= result.isOnline %></td>
                            <td class="text-center"><button class="btn btn-danger" onclick="removeDevice('<%= result.serial_number %>')"><i class="fas fa-trash-alt"></i></button></td>
                            <td class="text-center"><a class="btn btn-warning" href="/sys-control/devices/<%= result.serial_number %>"><i class="fas fa-edit"></i></a></td>
                            <td class="text-center"><a class="btn btn-success" href="/sys-control/device-groups/<%= result.serial_number %>"><i class="fas fa-users-cog"></i></a></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/system-control/devices.js"></script>
<% include ../../partials/footer.ejs %>