<% include ../../partials/header.ejs %>
    <div class="container">
        <form id="form">
            <h2 class="m-4">Edit User</h2>
            <table class="w-100 m-4 table">
                <tbody>
                    <tr>
                        <td scope="row"><b>ID:</b></td>
                        <input type="hidden" id="id" value="<%= result.id %>">
                        <td><%= result.id %></td>
                    </tr>
                    <tr>
                        <td scope="row">Username:</td>
                        <td><input id="username" value="<%= result.username %>" type="text" class="form-control" aria-label="username"></td>
                    </tr>
                    <tr>
                        <td scope="row">Password:</td>
                        <td><input id="password" type="password" class="form-control" aria-label="password"></td>
                    </tr>
                    <tr>
                        <td scope="row">Name:</td>
                        <td><input id="name" value="<%= result.name %>" type="text" class="form-control" aria-label="name"></td>
                    </tr>
                    <tr>
                        <td scope="row">Surname:</td>
                        <td><input id="surname" value="<%= result.surname %>" type="text" class="form-control" aria-label="surname"></td>
                    </tr>
                    <tr>
                        <td scope="row">Mail:</td>
                        <td><input id="mail" value="<%= result.mail %>" type="text" class="form-control" aria-label="mail"></td>
                    </tr>
                    <tr>
                        <td scope="row">Birth Date:</td>
                        <td><input type="date" min="1930-01-01" max="2019-12-31" id="birth_date" value="<%= result.birth_date %>" class="form-control" aria-label="birth date"></td>
                    </tr>
                    <tr>
                        <td scope="row">User Type:</td>
                        <td>
                            <select id="user_type" class="form-control">
                                <% if(result.user_type=="admin"){ %>
                                    <option value="user">Standart User</option>
                                    <option value="admin" selected>Admin</option>
                                <% }else{ %>
                                    <option value="user" selected>Standart User</option>
                                    <option value="admin">Admin</option>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">Group:</td>
                        <td>
                            <select id="group" class="form-control">
                                <% groups.forEach(function(group){ %>
                                    <% if(result.group == group.id){ %>
                                        <option value="<%= group.id %>" selected><%= group.name %></option>
                                    <% }else{ %>
                                        <option value="<%= group.id %>"><%= group.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success w-100" type="submit"><i class="fas fa-check-square"></i> Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="/js/system-control/edit_user.js"></script>
<% include ../../partials/footer.ejs %>
