<% include ../../partials/header.ejs %>
    <div class="container">
        <form id="form">
            <h2 class="m-4">Edit Device</h2>
            <table class="w-100 m-4 table">
                <tbody>
                    <tr>
                        <td scope="row"><b>Serial Number:</b></td>
                        <input type="hidden" id="serial_number" value="<%= result.serial_number %>">
                        <td><%= result.serial_number %></td>
                    </tr>
                    <tr>
                        <td scope="row">Name:</td>
                        <td><input id="name" value="<%= result.name %>" type="text" class="form-control" aria-label="device name"></td>
                    </tr>
                    <tr>
                        <td scope="row">Type:</td>
                        <td>
                            <select id="type">
                                <% types.forEach(function(type){ %>
                                    <% if(result.type == type.id){ %>
                                        <option value="<%= type.id %>" selected><%= type.name %></option>
                                    <% }else{ %>
                                        <option value="<%= type.id %>"><%= type.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-success w-100" type="submit"><i class="fas fa-check-square"></i> Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="/js/system-control/edit_device.js"></script>
<% include ../../partials/footer.ejs %>
