<% include ../../partials/header.ejs %>
    <div class="container">
        <form id="form">
            <h2 class="m-4">Edit Permissions</h2>
            <table class="w-100 m-4 table">
                <tbody>
                    <tr>
                        <td scope="row"><b>User ID:</b></td>
                        <input type="hidden" id="uid" value="<%= uid %>">
                        <td><%= uid %></td>
                    </tr>
                    <% results.forEach((result)=>{ %>
                    <tr>
                        <td scope="row"><%= result.name %></td>
                        <% if(existList[result.id]){ %>
                            <td><input type="checkbox" name="<%= result.id %>" class="form-control permission" aria-label="permission-<%= result.id %>" checked></td>
                        <% }else{ %>
                            <td><input type="checkbox" name="<%= result.id %>" class="form-control permission" aria-label="permission-<%= result.id %>"></td>
                        <% } %>
                    </tr>
                    <% }); %>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success w-100" type="submit"><i class="fas fa-check-square"></i> Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="/js/system-control/edit_permissions.js"></script>
<% include ../../partials/footer.ejs %>
