<% include ../../partials/header.ejs %>
    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="search" type="text" class="form-control" placeholder="Search Username" aria-label="search" aria-describedby="searchIcon">
                </div>
            </div>
            <div class="col-4 text-center">
                <a class="btn btn-success my-3 w-50 mx-auto" data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add User</i></a>
                <div class="collapse" id="collapseAdd">
                    <div class="card card-body">
                    <form id="addForm">
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="user-name"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="username" type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="user-name">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="pass-word"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="pass-word">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="name-">Name</span>
                            </div>
                            <input id="name" type="text" class="form-control" placeholder="Enter Name" aria-label="name" aria-describedby="name-">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="surname-">Surname</span>
                            </div>
                            <input id="surname" type="text" class="form-control" placeholder="Enter Surname" aria-label="surname" aria-describedby="surname-">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="mail-">Mail</span>
                            </div>
                            <input id="mail" type="text" class="form-control" placeholder="Enter e-Mail" aria-label="e-mail" aria-describedby="mail-">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="birth-date">Birth Date</span>
                            </div>
                            <input type="date" min="1930-01-01" max="2019-12-31" id="birth_date" type="text" class="form-control" placeholder="YYYY-MM-DD" aria-label="birth-date" aria-describedby="birth-date">
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="groups">Groups</span>
                            </div>
                            <select id="group">
                                <% groups.forEach(function(group){ %>
                                    <option value="<%= group.id %>"><%= group.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success mx-2 w-100"><i class="fas fa-plus"> </i></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 users" style="max-height: 400px; overflow: scroll;">
                <table class="table">
                    <thead>
                        <th scope="col" class="text-center">#ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">e-Mail</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Last Login</th>
                        <th scope="col">Active</th>
                        <th scope="col">Group</th>
                        <th scope="col">Edit Permissions</th>
                        <th scope="col" class="text-center">Delete</th>
                        <th scope="col" class="text-center">Edit</th>
                    </thead>
                    <tbody>
                    <% results.forEach(function(result){ %>
                        <tr class="user">
                            <td class="text-center"><id><%= result.id %></id></td>
                            <td><username><%= result.username %></username></td>
                            <td><%= result.name %></td>
                            <td><%= result.surname %></td>
                            <td><%= result.mail %></td>
                            <td><%= result.birth_date %></td>
                            <td><%= result.permission %></td>
                            <td><%= result.last_login %></td>
                            <td><%= result.isActive %></td>
                            <td><%= result.group_name %></td>
                            <td class="text-center"><a href="/sys-control/permissions/<%= result.id %>" class="btn btn-primary"><i class="fas fa-khanda"></i></a></td>
                            <td class="text-center"><button class="btn btn-danger" onclick="removeUser(<%= result.id %>)"><i class="fas fa-trash-alt"></i></button></td>
                            <td class="text-center"><a href="/sys-control/users/<%= result.id %>" class="btn btn-primary"><i class="fas fa-pen"></i></a></td>
                        </tr>
                    <% }) %>
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/system-control/users.js"></script>
<% include ../../partials/footer.ejs %>