<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <!--Search Device Field-->
    <div class="col-6">
      <div class="input-group my-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
        </div>
        <input id="search" type="text" class="form-control" placeholder="Search Serial Number" aria-label="search"
          aria-describedby="searchIcon">
      </div>
    </div>
    <% if(utype!="admin"){ %>
    <div class="col-6">
      <a class="btn btn-success my-3" data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false"
        aria-controls="collapseAdd"><i class="fas fa-plus"> </i>Add Device</i></a>
      <div class="collapse" id="collapseAdd">
        <div class="card card-body">
          <form id="addForm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="serialNumber"><i class="fas fa-key"></i></span>
              </div>
              <select id="serial-number" class="form-control">
                <% devices.forEach(function(device){ %>
                <option value="<%= device.serial_number %>">
                  <%= device.name %>
                </option>
                <% }) %>
              </select>
              <button class="btn btn-success mx-2"><i class="fas fa-plus"> </i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="row">
    <% results.forEach(function(result){ %>
    <%
        //connection status
        if(result.is_online==1){
          border = "border-success";
        }else{
          border = "border-danger";
        }
        %>
    <div style="min-width:150px;" class="device card col-md-5 col-2 mx-1 my-2 border p-2 <%= border %>">
      <div class="card-title text-center"><strong>
          <%= result.name %></strong></div>
      <% if(utype!="admin"){ %>
      <div class="remove-button"><button class="btn btn-danger" onclick="removeDevice('<%= result.serial_number %>');"><i class="fas fa-trash-alt text-white"></i></button></div>
      <div class="settings-button"><a class="btn btn-warning" href="/device/settings/<%= result.serial_number %>"><i class="fas fa-cog text-white"></i></a></div>
      <% } %>
      <img class="card-img mx-auto" src="/img/device-types/<%= result.image %>" style="max-width: 300px;"></img>
      <div class="card-text">
        <ul class="p-0 list-group">
          <li class="list-group-item p-1"><strong>Last Connection: </strong>
            <%= result.last_connection %>
          </li>
          <li class="list-group-item p-1"><strong>Serial Number: </strong>
            <serial>
              <%= result.serial_number %>
            </serial>
          </li>
          <li class="list-group-item p-1 text-center"><a class="btn btn-primary" href="/devices/<%= result.serial_number %>">More</a></li>
      </div>
      <% if(result.is_online==1){ %>
      <div class="card-img">
        <canvas id="<%= result.serial_number %>"></canvas>
      </div>
      <% } %>
    </div>
    <% }); %>
  </div>
</div>
<link rel="stylesheet" href="/css/devices.css">
<script src="/js/notification.js"></script>
<script src="/js/deviceChart.js"></script>
<script src="/js/devices.js"></script>

<% include ../partials/footer.ejs %>