<% include ../partials/header.ejs %>

<div class="wrapper">
    <div class="row">
        <div class="col-4 p-2 details text-left m-2 ml-4">
            <div class="card">
                <img class="card-image-top" src="/img/device-types/<%= device.image %>" width="200px"></img>
                <ul class="list-group card-text">
                    <li class="list-group-item"><strong>Name: </strong>
                        <%= device.name %>
                    </li>
                    <li class="list-group-item"><strong>Serial Number: </strong>
                        <serial><%= device.serial_number %></serial>
                    </li>
                    <li class="list-group-item"><strong>Device Type: </strong>
                        <%= device.type_name %>
                    </li>
                    <li class="list-group-item"><strong>Last Connection: </strong>
                        <%= device.last_connection %>
                    </li>
                    <li class="list-group-item"><strong>Online Status: </strong>
                        <%= device.isOnline %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6 p-2 m-2">
            <!--logs-->
            <div class="container" style="max-height: 400px; overflow: scroll;">
                <table class="table">
                    <thead class="thead-dark">
                        <th scope="col">Created at</th>
                        <th scope="col">Event</th>
                        <th scope="col">Message</th>
                    </thead>
                    <tbody>
                        <% logs.forEach(function(log){ %>
                        <tr>
                            <td>
                                <%= log.created_at %>
                            </td>
                            <td>
                                <%= log.event %>
                            </td>
                            <td>
                                <%= log.message %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-8 m-2 mx-auto chart-container" style="position: relative; height: 50vh; overflow: scroll;">
            <canvas id="chart"></canvas>
            <label>Show: </label>
            <button class="btn btn-primary control-btn my-2" id="day">Last 24 Hours</button>
            <button class="btn btn-primary control-btn my-2" id="week">Last 7 Days</button>
            <button class="btn btn-primary control-btn my-2" id="month">Last 30 Days</button>
            <button class="btn btn-primary control-btn my-2" id="all">All</button>
        </div>
    </div>
</div>
<script src="/js/notification.js"></script>
<script src="/js/deviceChart.js"></script>
<script src="/js/device.js"></script>
<script>
    $(document).ready(function (event) {
        <% logs.forEach(function(log){ %>
        chart.unshiftValue(<%= log.message %>);
        <% }); %>
    });
</script>

<% include ../partials/footer.ejs %>