<% include ../partials/header.ejs %>

<div class="wrapper">
    <div class="row">
        <div class="col-12 col-md-6 p-2 m-2 mx-auto">
            <form method="POST" action="/device/settings">
                <input type="hidden" value="<%= constants.device %>" name="device">
                <h3>Device Settings</h3><small>(Device threshold options and command send)</small>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Minimum Threshold: </td>
                            <td>
                                <input type="number" class="form-control" name="min" value="<%= result.threshold_min %>">
                            </td>
                        </tr>
                        <tr>
                            <td>Maximum Threshold: </td>
                            <td>
                                <input type="number" class="form-control" name="max" value="<%= result.threshold_max %>">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit" class="btn btn-primary w-100">Apply</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6 p-2 m-2 mx-auto">
        <h4>Send Command </h4>
        <form id="commandForm">
            <input type="hidden" value="<%= constants.device %>" id="device">
            <div class="form-group">
                <label for="topic">Command Topic: </label>
                <input type="text" id="topic" class="form-control" id="topic">
            </div>
            <div class="form-group">
                <label for="command">Command: </label>
                <input type="text" id="command" class="form-control" id="command">
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
    </div>
</div>

<script src="../../js/socketSendCommand.js"></script>

<% include ../partials/footer.ejs %>