<% include ../partials/header.ejs %>

        <div class="alert alert-danger text-center">
            <h2>Error</h2>
            <img src="/img/error.png" alt="error warning alert"></img><br>
            <strong><%= error %></strong>
        </div>

    </body>
</html>