<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
        <table class="table">
            <thead>
                <th scope="col" class="text-center">#uid</th>
                <th scope="col">Username</th>
                <th scope="col">Type</th>
                <th scope="col">Log</th>
            </thead>
            <% results.forEach(function(result){ %>
                <tr class="log">
                    <td class="text-center"><%= result.uid %></td>
                    <td><name><%= result.username %></name></td>
                    <td><%= result.type %></td>
                    <td><%= result.log %></td>
                </tr>
            <% }) %>
        </table>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>