<% include ../partials/header.ejs %>

      <div class="alert alert-success" role="alert">
        IoT Tracking and Management Dashboard is on progress.
      </div>

      <div class="container mt-2">
        <div class="row">
          <div class="card col-4 m-2">
            <div class="card-img-top">
              <canvas id="clientCountPie"></canvas>
            </div>
            <div class="card-body">
              <div class="card-title">Online Clients</div>
              <p class="card-text"><i class="fas fa-bezier-curve"></i> Online Client Count:<a href="devices" id="clientAmount" class="">0</a></p>
            </div>
          </div>
          <div class="card col-4 m-2">
            <img class="card-img-top" src="./img/devices.png" alt="iot devices" height="auto" width="50%"></img>
            <div class="card-body">
              <div class="card-title">Device List</div>
              <div class="card-text">Track and manage devices easily</div>
            </div>
            <a class="card-link text-center" href="/devices"><b>Start</b></a>
          </div>
          <div class="card col-3 m-2">
            <img class="card-img-top" src="./img/profile.png" alt="profile"></img>
            <div class="card-body">
              <div class="card-title h4">Profile</div>
              <div class="card-text">
                <strong>Name:</strong> <%= data.name %> <br>
                <strong>Surname:</strong> <%= data.surname %> <br>
                <strong>Permission:</strong> <%= data.permission %>
              </div>
            </div>
            <a class="card-link text-center" href="/settings"><b>Settings</b></a>
          </div>
          <div id="devicesMap" class="col-8 mx-auto" style="height: 300px;"></div>
        </div>
      </div>

      <script src="/js/indexChart.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=" async defer></script>
      <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>


        <script>
          var map = L.map('devicesMap').setView([0,0], 2);
          var gridLayer = L.gridLayer.googleMutant({
            type: 'roadmap',
            styles:[
              {elementType: 'labels', stylers: [{visibility: 'off'}]},
              {featureType: 'water', stylers: [{color: '#444444'}]}
            ]
          }).addTo(map);
          <% coordinates.forEach(function(coordinate){ %>
              var marker = L.marker([<%= coordinate[0] %>,<%= coordinate[1]%>]).addTo(map);
          <% }); %>
        </script>

<% include ../partials/footer.ejs %>
