<html>
<head>
  <title>IoT Control and Tracking Dashboard | Hasan Alp Zengin</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- JS -->
  <script src="/js/utils/jquery-3.3.1.min.js"></script>
  <script src="/js/utils/bootstrap.bundle.min.js"></script>
  <script src="/js/login.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils/bootstrap.css">
  <link rel="stylesheet" href="/css/login.css">

</head>
<body>

<!-- Login Form Start -->
<section class="login-block">
  <div class="container">
	   <div class="row">
		     <div class="col-md-4 login-sec">
		         <h2 class="text-center">Login Now</h2>
             <form class="login-form" id="form" action="#">
               <div class="form-group">
                 <label for="username" class="text-uppercase">Username</label>
                 <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
               </div>
               <div class="form-group">
                 <label for="password" class="text-uppercase">Password</label>
                 <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password">
               </div>
               <small id="help" class="text-danger">
                 Password or Username can't be empty
               </small>
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="checkbox" class="form-check-input">
                   <small>Remember Me</small>
                 </label>
                 <button type="button" class="btn btn-login float-right" onclick="loginSubmit();">Submit</button>
               </div>
             </form>
             <div class="copy-text">
               Created with <i class="fa fa-heart"></i> by <a href="http://grafreez.com">Grafreez.com</a></div>
		         </div>
		           <div class="col-md-8 banner-sec">
                 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                   <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                   </ol>
                 <div class="carousel-inner" role="listbox">
                   <div class="carousel-item active">
                     <img class="d-block img-fluid" src="/img/background/bg1.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block">
                       <div class="banner-text">
                         <h2>Easy Device Management</h2>
                         <p>You can manage all IoT Devices over that platform easily</p>
                       </div>
                     </div>
                   </div>
                   <div class="carousel-item">
                     <img class="d-block img-fluid" src="/img/background/bg2.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block">
                       <div class="banner-text">
                         <h2>IoT Data Monitoring</h2>
                         <p>All datas are ready for your usage.</p>
                       </div>
                     </div>
                   </div>
                   <div class="carousel-item">
                     <img class="d-block img-fluid" src="/img/background/bg3.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block">
                       <div class="banner-text">
                         <h2>Real Time Data Flow</h2>
                         <p>All datas are flowing continuously with a lot of optimization you can't feel any disadvantage of that system.</p>
                       </div>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>
</section>

<!-- Login Form END -->

</body>

</html>
