<% include ../partials/header.ejs %>

<div class="container mt-5">
  <h5 class="h3">Settings</h5>
  <div class="row">
    <div class="col-10 mx-auto">
      <form id="settings">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" value="<%= user.name %>">
        </div>
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" class="form-control" id="surname" placeholder="Enter surname" value="<%= user.surname %>">
        </div>
        <div class="form-group">
          <label for="mail">Surname:</label>
          <input type="email" class="form-control" id="mail" placeholder="Enter e-mail" value="<%= user.mail %>">
        </div>
        <div class="form-group">
          <label for="birth-date">Birth Date:</label>
          <input type="date" class="form-control" id="birth-date" placeholder="Enter Birthdate" value="<%= user.birth_date %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6">
      <b>Notification Status:</b> <label id="notification-status">Loading..</label>
      <br>
      <button class="btn btn-warning text-white py-2" id="notification-button"><b>Change Status</b></button>
    </div>
  </div>
</div>

<script type="module" src="/js/settings.js"></script>

<% include ../partials/footer.ejs %>