<% include ../partials/header.ejs %>
    <div class="alert alert-warning text-center m-2"><strong>Welcome to System Control Panel</strong></div>
    <div class="wrapper">
        <div class="row justify-content-center" style="height: 300px;">
            <div class="col-2 m-1 menu-item mx-auto"><button onclick="window.location.href='/sys-control/users'" class="btn btn-primary m-1 w-100 h-100"><h3><i class="fas fa-user"></i></i> Users</h3></button></div>
            <div class="col-2 m-1 menu-item mx-auto"><button onclick="window.location.href='/sys-control/devices'"  class="btn btn-danger m-1 w-100 h-100"><h3><i class="fas fa-mobile-alt"></i> Devices</h3></button></div>
            <div class="col-2 m-1 menu-item mx-auto"><button onclick="window.location.href='/sys-control/device-types'"  class="btn btn-success m-1 w-100 h-100"><h3><i class="fas fa-thermometer"></i> Device Types</h3></button></div>
            <div class="col-2 m-1 menu-item mx-auto"><button onclick="window.location.href='/sys-control/groups'"  class="btn btn-info m-1 w-100 h-100"><h3><i class="fas fa-users"></i>Groups</h3></button></div>
            <div class="col-2 m-1 menu-item mx-auto"><button onclick="window.location.href='/sys-control/controllers'"  class="btn btn-secondary m-1 w-100 h-100"><h3><i class="fas fa-tachometer-alt"></i>Controllers</h3></button></div>
        </div>
    </div>

    <style type="stylesheet">
    </style>

<% include ../partials/footer.ejs %>